.slider {
  min-height: 300px;
  overflow: hidden;
  transition: 0.6s;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  font-family: 'Fjalla One', sans-serif; }
  .slider .controls {
    position: absolute;
    z-index: 9999;
    right: 0;
    top: 20px;
    height: 260px; }
    @media (max-width: 767px) {
      .slider .controls {
        width: 100%;
        height: 50px;
        top: 50%;
        transform: translateY(-50%); } }
    .slider .controls button {
      background: transparent;
      border: none;
      display: block;
      width: 20px;
      position: absolute;
      padding: 0;
      outline: none;
      cursor: pointer; }
      .slider .controls button.previous {
        top: 0;
        right: 25px; }
      @media (min-width: 768px) {
        .slider .controls button.next {
          top: 20px;
          right: 50px; } }
      @media (max-width: 767px) {
        .slider .controls button.next {
          top: 0;
          left: 20px;
          transform: rotate(180deg); } }
      .slider .controls button rect {
        fill: #2d2d2d; }
      .slider .controls button:hover rect {
        fill: #fff; }
  .slider__inner {
    width: calc(75% + 150px);
    max-width: 100%;
    margin: auto;
    position: relative;
    min-height: 300px;
    overflow: hidden;
    float: right; }
    @media (max-width: 767px) {
      .slider__inner {
        width: 100%; } }
  .slider__slide {
    min-height: 300px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-300px, 100%); }
    @media (max-width: 767px) {
      .slider__slide {
        transform: translate(-100%, 0); } }
    .slider__slide__content {
      display: flex;
      padding: 30px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border: 2px solid #333333;
      box-shadow: 5px 5px -5px gray;
      flex-direction: column;
      justify-content: flex-start;
      position: absolute;
      width: 250px;
      overflow: hidden !important;
      top: 0;
      bottom: 0;
      left: 300px; }
      @media (max-width: 767px) {
        .slider__slide__content {
          padding: 55px 60px 30px;
          left: 0;
          background-color: transparent !important; } }
@keyframes slide-element {
  0% {
    transform: translate(30%, 30%); }
  20% {
    transform: none; }
  80% {
    transform: none; }
  100% {
    transform: translate(30%, 30%); } }
      .slider__slide__content svg {
        animation: slide-element 4s cubic-bezier(0.5, 0, 0, 1) infinite;
        width: 100vw;
        height: 100%;
        transform-origin: 100% 50%;
        max-height: 70%;
        display: block;
        position: absolute;
        max-width: 70%;
        right: 0;
        bottom: 0; }
      .slider__slide__content svg path:last-child {
        stroke-dasharray: 185 0;
        animation: loop 4s cubic-bezier(0, 0, 0.5, 1) infinite; }
@keyframes loop {
  0% {
    stroke: #aaa;
    stroke-opacity: .35;
    stroke-dashoffset: -180px;
    stroke-dasharray: 200px 200px; }
  30% {
    stroke-opacity: .35;
    stroke: #aaa; }
  40% {
    stroke: currentcolor;
    stroke-dasharray: 200px 0px;
    stroke-dashoffset: 2px; }
  80% {
    stroke: currentcolor;
    stroke-opacity: 1; }
  100% {
    stroke-dashoffset: 220px;
    stroke-opacity: 0;
    stroke-dasharray: 200px 200px; } }
      .slider__slide__content h3 {
        font-family: 'Fjalla One', sans-serif;
        margin: 0;
        line-height: normal !important;
        font-size: 28px !important;
        border-bottom: 1px solid #333333;
        margin: 10px 0;
        color: #333333; }
        .slider__slide__content h3 span.city {
          color: #777 !important;
          font-size: 20px !important; }
      .slider__slide__content p {
        margin: 10px 0;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 0.9em;
        max-width: 600px; }
      .slider__slide__content__categories {
        padding: 10px 0 10px 10px;
        text-transform: uppercase; }
        .slider__slide__content__categories a {
          color: #aec6cf;
          text-decoration: none; }
          .slider__slide__content__categories a:hover {
            color: #fff; }
      .slider__slide__content header {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        height: 5px;
        background-color: #333333; }
    .slider__slide--animate {
      transition: 0.6s ease-in-out; }
    .slider__slide--active {
      transform: translate(0, 0); }
      .slider__slide--active ~ .slider__slide {
        transform: translate(300px, -100%); }
        @media (max-width: 767px) {
          .slider__slide--active ~ .slider__slide {
            transform: translate(100%, 0); } }

/*# sourceMappingURL=component.css.map */
